/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/************************MY CODE ************************************/
/****COMMON CODE FALL SITE PAGES****/

* {
  text-decoration: none;
}

.h1-tempTitle {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  margin-left: 0;
  margin-top: 15%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 72px;
  font-weight: bolder;
  color: red;
}


header {
  background-color: #000;
  width: 100%;
  height: 70px;
  font-family: 'Montserrat', serif;
  font-size: 18px;
  padding-top: 10px;
}

header img {
  display: block;
  width: 60px;
  height: 60px;
  float: left;
  padding: 0 14.5px 0 12px;
  border-right: 3px solid #742020;
  float: left;
}

body {
  background-color: #808080;
}

header nav {
  width: 100%;
  height: 4em;
  position: absolute;
  z-index: 1;
}

header nav ul {
  float: left;
  padding: 23.5px 0 0 100px;
}

header nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

header nav ul li a {
  display: block;
  color: #d3d3d3;
  padding: 1px 7px;
}

header nav ul li ul {
  display: none;
  position: absolute;
  background-color: #000;
  padding: 15px;
  border-radius: 0 0 4px 4px;
  z-index: 1;
}

header nav ul li:hover ul {
  display: inline-block;
}

header nav ul li ul li {
  width: 250px;
  border-radius: 4px;
}

header nav ul li ul a {
  padding: 10px 5px;
}

header nav ul li ul a:hover {
  background-color: #3c3c3c;
}

/*****COMMON FOOTER******/
footer {
  width: calc(100%-80%);
  height: 75px;
  padding: 20px 0 55px 0;
  background-color: #000;
  margin-top: 15px;
}

footer ul {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15%;
}

footer ul li {
  display: inline-block;
  list-style: none;
  padding-bottom: 25px;
}

footer ul li a {
  font-family: 'Montserrat', serif;
  font-size: 17px;
  padding-left: 14px;
  color: #d3d3d3;
}

.footer-sm {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
}

.footer-sm tr td {
  padding-left: 25%;
}

.footer-sm img {
  width: 45px;
  height: 45px;
}

h3 {
  color: #d3d3d3;
  text-align: center;
  padding-top: 15px;
}

/******INDEX PAGE******/
.index-banner {
  width: 100%;
  height: calc(100vh - 81px);
  background-image: url('../images/imgKeyBoard.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.verticle-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family: 'Catamaran';
  font-size: 50px;
  font-weight: 900;
  line-height: 62px;
  color: #742020;
  text-align: center;
  text-shadow: 2px 2px 8px #000;
}

.index-banner h1 {
  font-family: 'Catamaran';
  font-size: 21px;
  font-weight: 200;
  line-height: 34px;
  color: #d3d3d3;
  text-align: center;
  text-shadow: 2px 2px 8px #000;
}

.index-boxlinks div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #000;
}

.index-boxlinks div h3 {
  font-family: 'Catamaran';
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  color: #742020;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .index-banner {
    width: 100%;
    height: 310px;
  }

  .index-banner h1 {
    display: block;
    width: 595px;
    margin: 0 auto;
  }

  .index-boxlinks {
    overflow: hidden;
  }

  .index-boxlinks div {
    margin: 15px 10px 0;
    height: 135px;
    background-color: #000;
    float: left;
  }

  .index-square-boxlink {
    width: calc(25% - 20px) !important;
  }

  .index-rectangle-boxlink {
    width: calc(50% - 20px) !important;
  }

  .index-boxlinks div h3 {
    line-height: 135px;
  }

  footer {
    width: 100%;
    height: 87px !important;
    padding: 2px 0 0px 0 !important;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    overflow: hidden;
  }

  .div-footerWrapper {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40%);
    height: 85px;
    border: solid 2px #000;
  }

  h3 {
    padding: 0px !important;
  }

  .h3-formatCopyright {
    width: 100%;
    margin-top: 60px;
    border: solid 2px #000;
  }

  .footer-sm tr {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    padding-left: 50% !important;
  }

  .footer-sm tr td {
    padding-right: 25% !important;
  }

  footer ul li {
    padding-bottom: 15px !important;
  }

  footer ul {
    padding: 20px 30px 2px 10px !important;
    width: 40% !important;
    float: left;
  }

  footer table {
    padding: 5px 0px 0 3px !important;
    width: 40% !important;
    float: right;
  }

  footer table tr td {
    padding: 5px 25px 0 3px !important;
  }
}

@media only screen and (min-width: 481px) {


  }


/******BUSINESS PAGE*****/



/******RESUME PAGE*****/
